*{
    margin: 0;
    padding: 0;
    border: none
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3b3b3b;
}

/* headings logo and icon */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c2c2c;
}

#logo {
    float: left;
    font-size: 250%
}

/* Navigation links */
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 70px;
}

#menu a:hover {
    border: 1px solid #3b3b3b;
    border-radius: 10%;
}

.fixe {
    border-bottom: 1px solid #3b3b3b;
}

/* Main image */
.main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}


#main-image {
    height: 500px;
    width: 100%;
    background: url('../images/woman-blue-yoga-sports.jpg') no-repeat center;

    /*animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes  main-zoom {
    from { transform: scale(1);}
    to { transform: scale(1.1);}
}

