
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
      
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3b3b3b;
}

.first {
    color: teal;
}

nav {
    background-color: cadetblue;
}

/* headings logo and icon */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c2c2c;
}



#logo {
    float: left;
    font-size: 250%
}

/* Navigation links */
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 70px;
}

#menu a:hover {
    border: 1px solid #3b3b3b;
    border-radius: 10%;
}

.fixe {
    border-bottom: 1px solid #3b3b3b;
}
/*main image and cover text */
/* Main image */
.main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 220px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(204, 146, 70, 0.575);
    bottom: 30px;
    right: 150px;
    position: absolute;

}


#cover-text, #cover-text h2 {
    color: #fff;
}


#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/woman-blue-yoga-sports.jpg') no-repeat center;

    /*animation zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes  main-zoom {
    from { transform: scale(1);}
    to { transform: scale(1.1);}
}


/* main classes */

#our-classes {
    padding: 3rem 7%;
    background: burlywood;
}
#class-contain-2 > h2 {
    margin-bottom: 15px;
    font-size: 5px;
}

#class-1 {
    width: 100%;
    height: 100%;
}

#our-classes h1 {

    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

#class-1, #class-2, #class-3, #class-4, #class-5, #class-6 {
    width: 100%;
    height: 100%;
    display: inline-block;
}

hr {
    border-top: 1px solid #3b3b3b;
    width: 100%;
    margin: 5px 0;
}

#image-1, #image-3, #image-5 {
    float: left;
    width: 40%;
    padding-top: 30px;
    border-radius: 25%;
}

#class-content-1, #class-content-3, #class-content-5 {
    float: right;
    font-size: 100%;
    letter-spacing: 1px;
    width: 40%;
    padding-top: 30px;
    padding-right: 15%;
    line-height: 20px;
    text-align: left;
}


#image-2, #image-4, #image-6 {
    float: right;
    padding-top: 30px;
    width: 40%;
    border-radius: 25%;
}

#class-content-2, #class-content-4, #class-content-6 {
    float: left;
    font-size: 100%;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-left: 15%;
    width: 40%;
    line-height: 20px;
    text-align: right;
}

/* contact */

.contact-section {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: coral;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 15px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 20px;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #0582E3;
}
/* responsive contact form*/
@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        margin: 30px 50px;
    }
    
    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form .text-box {
        width: 100%;
    }
}

/* footer style */

footer {
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2c2c2c;
}

.social-links i:hover {
    color: #0582E3;

}

/*responsive our classes */

@media screen and (max-width: 950px) {
    #class-content-1, #image-1 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    }

    #class-content-2, #image-2 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    }

    #class-content-3, #image-3 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    }

    #class-content-4, #image-4 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    }

    #class-content-5, #image-5 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    }

    #class-content-6, #image-6 { 
        width: 90%;
        flex-direction: column;
        clear: both;
        height: 90%;
    } 
}
/* main outer responsive */
@media screen and (max-width: 950px) {
    #cover-text {
        left: 0;
    }
}

/* logo responsive */

@media screen and (max-width: 950px) {

    #logo {
        text-align: center;
    }
}
